_promo/*.afdesign
*.autosave*
*.png
!_promo/*.png
*.tga
*.blend[0-9]*
*.painter_lock
*_autosave_[0-9].spp
**/.autosave/*
*.assbin
*.sbsar
*.fbx
_*Ref.*
desktop.ini
/PluginFolder/Saved
/PluginFolder/Binaries
/PluginFolder/Intermediate
/PluginFolder/Metadata/Crypto.json
/axe/ref/*
/_promo/AxeBG.png
/_promo/AxeHandle.png
/_promo/AxeLogo.png
/_promo/LumberJack_Colourization.png
/_promo/LumberJack_Model.png
/_promo/LumberJack_Shot01.png
/_promo/LumberJack_Shot02.png
/_promo/LumberJack_Shot03.png
/_promo/LumberJack_TextureSheets.png
